[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "~=1.43"
matplotlib = "~=3.9"
scipy = "~=1.14.1"
xlrd = "~=2.0"
xlsxwriter = "~=3.2"
numpy = "~=2.2"
openpyxl = "~=3.1"
beautifulsoup4 = "~=4.12"

[dev-packages]
coverage = "~=7.4"
pulp = "~=3.0"
pytest = "~=8.1"
pytest-xdist = "~=3.5"
pytest-cov = "~=6.0"
selenium = "~=4.19"
webdriver-manager = "~=4.0"
pre-commit = "~=4.1"
ruff = "~=0.9.7"
mypy = "~=1.15"
pandas-stubs = "*"
types-requests = "*"
types-beautifulsoup4 = "*"
types-openpyxl = "*"
