[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
matplotlib = "*"
scipy = "*"
xlrd = "*"
xlsxwriter = "*"

[dev-packages]
coverage = "*"
pulp = "*"
pytest = "*"
pytest-xdist = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
