name: test

on:
  push:
  pull_request:
  schedule:
    # Run regularly with fresh data
    - cron: '0 6,18 * * *'

env:
  FORCE_COLOR: 3

jobs:

  ubuntu:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 1
    - run: sudo apt-get update -qq
    - run: sudo apt-get install -qq -y --no-install-recommends coinor-cbc tidy
    - run: pip install --upgrade pipenv wheel
    - run: pipenv install --dev
    - run: pipenv run pip list
    - if: ${{ github.event_name == 'pull_request' }}
      run: pipenv run pre-commit run --show-diff-on-failure --color always --all-files --hook-stage pre-commit
    - run: pipenv run pytest -n auto --cov=.
    - run: pipenv run coverage xml
    - uses: codecov/codecov-action@v4
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
